[defaults]
host_key_checking = False
inventory=inventory_aws_ec2.yml
interpreter_python=auto_silent
private_key_file=/home/ec2-user/firstkey.pem
remote_user=ec2-user
roles_path=/home/ec2-user/Ansible-project/solution_files/3_one_playbook_roles_solution/roles
